In [1]:
from pandas import DataFrame, read_csv

import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib.pyplot as plt
import matplotlib #only needed to determine Matplotlib version number

%matplotlib inline

In [2]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.5.2 |Anaconda 2.5.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
Pandas version 0.19.1
Matplotlib version 1.5.1

In [3]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [4]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [5]:
df.to_csv('pd_data/births1880.csv',index=False,header=False)

In [9]:
Location = r'pd_data/births1880.csv'
df = pd.read_csv(Location, names=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [10]:
df.dtypes

Names     object
Births     int64
dtype: object

In [11]:
df.Births.dtype

dtype('int64')

In [12]:
Sorted = df.sort_values(['Births'], ascending=False)
Sorted.head(1)

  Names  Births
4   Mel     973

#