In [1]:
import pandas as pd
import sys

In [2]:
# Create DataFrame
d = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(d, columns = ['Number'])
df

   Number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [3]:
# Export to Excel
df.to_excel('pd_data/Lesson10.xlsx', sheet_name = 'testing', index = False)
print('Done')

Done

In [4]:
df.to_json('pd_data/Lesson10.json')
print('Done')

Done