In [1]:
import pandas as pd
import sys

In [9]:
# Our small data set
d = {'one':[1,1],'two':[2,2]}
i = ['a','b']

# Create dataframe
df = pd.DataFrame(data = d, index = i)
df

   one  two
a    1    2
b    1    2

In [17]:
# Bring the columns and place them in the index
stack = df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [11]:
type(stack)

pandas.core.series.Series

In [12]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [19]:
unstack = df.unstack()

unstack.index

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [14]:
s3 = unstack.unstack()

Index(['one', 'two'], dtype='object')

In [16]:
df

   one  two
a    1    2
b    1    2

In [18]:
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [20]:
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

In [21]:
transpose = df.T
transpose

     a  b
one  1  1
two  2  2

### Another example

In [25]:
import numpy as np 

tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                      'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.248151  1.725006
      two    -0.688803 -0.819623
baz   one    -0.105662  0.898490
      two     1.439955 -0.596179

In [26]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.248151
               B    1.725006
       two     A   -0.688803
               B   -0.819623
baz    one     A   -0.105662
               B    0.898490
       two     A    1.439955
               B   -0.596179
dtype: float64

In [30]:
stacked.unstack()

                     A         B
first second
bar   one    -0.248151  1.725006
      two    -0.688803 -0.819623
baz   one    -0.105662  0.898490
      two     1.439955 -0.596179

In [32]:
stacked.unstack(1)

second        one       two
first
bar   A -0.248151 -0.688803
      B  1.725006 -0.819623
baz   A -0.105662  1.439955
      B  0.898490 -0.596179

In [33]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.248151 -0.105662
       B  1.725006  0.898490
two    A -0.688803  1.439955
       B -0.819623 -0.596179

In [34]:
stacked.unstack().unstack()

               A                   B
second       one       two       one       two
first
bar    -0.248151 -0.688803  1.725006 -0.819623
baz    -0.105662  1.439955  0.898490 -0.596179