In [1]:
# Import libraries
import pandas as pd
import sys

In [2]:
# Our small data set
d = [0,1,2,3,4,5,6,7,8,9]

# Create dataframe
df = pd.DataFrame(d)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [3]:
df.columns = ['Rev']

In [10]:
df['NewCol'] = 5
df.head()

   Rev  NewCol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5

In [6]:
df.NewCol = df.NewCol + 1
df.head()

   Rev  NewCol
0    0       6
1    1       6
2    2       6
3    3       6
4    4       6

In [11]:
del df['NewCol']
df.head()

   Rev
0    0
1    1
2    2
3    3
4    4

In [12]:
df['test'] = 3
df['col'] = df['Rev']
df.head()

   Rev  test  col
0    0     3    0
1    1     3    1
2    2     3    2
3    3     3    3
4    4     3    4

In [13]:
i = ['a','b','c','d','e','f','g','h','i','j']
df.index = i
df.head()

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4

In [14]:
df.loc['a']

Rev     0
test    3
col     0
Name: a, dtype: int64

In [15]:
df.loc[['a', 'b']]

   Rev  test  col
a    0     3    0
b    1     3    1

In [16]:
df.iloc[0:3]

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2

In [17]:
df['Rev'].head()

a    0
b    1
c    2
d    3
e    4
Name: Rev, dtype: int64

In [18]:
df[['Rev', 'test']].head()

   Rev  test
a    0     3
b    1     3
c    2     3
d    3     3
e    4     3

In [19]:
# df.ix[rows,columns]
df.ix[0:3,'Rev']

a    0
b    1
c    2
Name: Rev, dtype: int64

In [20]:
df.ix[5:, 'col']

f    5
g    6
h    7
i    8
j    9
Name: col, dtype: int64

In [24]:
df.ix[-2:-1, ['col', 'test']].head()

   col  test
a    0     3
b    1     3
c    2     3
d    3     3
e    4     3